.about-company-container {
  color: #081421;
}
.about-company-container .about-company {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 80px;
  position: relative;
}
.about-company-container .about-company .about-company__image-1 {
  width: 600px;
  height: 400px;
  background-image: url("../img/about-company-img-1.jpg");
  background-size: cover;
  background-position: center;
  flex: 1 1 600px;
  border-radius: 4px;
}
.about-company-container .about-company .about-company__image-2 {
  width: 300px;
  height: 200px;
  background-image: url("../img/about-company-img-2.jpg");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 150px;
  left: 320px;
  flex: 1 1 600px;
  border-radius: 4px;
}
.about-company-container .about-company .about-company__description {
  flex: 1 1 400px;
}
.about-company-container .about-company .about-company__description .about-company__description__headline {
  margin: 0px 0px 30px 0px;
  max-width: 400px;
}
.about-company-container .about-company .about-company__description .about-company__description__headline span {
  color: #2454e0;
}
.about-company-container .about-company .about-company__description .about-company__description__paragraph {
  color: #6c7f93;
  font-size: 18px;
}

@media (max-width: 1024px) {
  .about-company-container .about-company {
    gap: 70px;
    position: relative;
    flex-wrap: nowrap;
  }
  .about-company-container .about-company .about-company__image-1 {
    width: 400px;
    height: 280px;
    flex: 1 1 400px;
  }
  .about-company-container .about-company .about-company__image-2 {
    width: 200px;
    height: 160px;
    top: 100px;
    left: 220px;
    flex: 1 1 400px;
  }
  .about-company-container .about-company .about-company__description {
    flex: 1 1 400px;
  }
  .about-company-container .about-company .about-company__description .about-company__description__headline {
    margin: 0px 0px 25px 0px;
    max-width: 300px;
  }
  .about-company-container .about-company .about-company__description .about-company__description__paragraph {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .about-company-container {
    max-width: 768px;
  }
  .about-company-container .about-company {
    gap: 40px;
    position: relative;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
  }
  .about-company-container .about-company .about-company__image-1 {
    width: 290px;
    height: 200px;
    flex: 1 1 290px;
  }
  .about-company-container .about-company .about-company__image-2 {
    width: 200px;
    height: 160px;
    top: 100px;
    left: 220px;
    flex: 1 1 400px;
  }
  .about-company-container .about-company .about-company__description {
    flex: 1 1 auto;
  }
  .about-company-container .about-company .about-company__description .about-company__description__headline {
    margin: 0px 0px 25px 0px;
    max-width: 768px;
  }
  .about-company-container .about-company .about-company__description .about-company__description__paragraph {
    font-size: 16px;
  }
}

/*# sourceMappingURL=about-company.css.map */
