.advantages-container {
  color: #081421;
  padding: 100px 40px 0px 40px;
}
.advantages-container .advantages__headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 80px 0px;
  text-align: center;
}
.advantages-container .advantages__headline .headline {
  margin: 0px 0px 20px 0px;
}
.advantages-container .advantages__headline .headline span {
  color: #2454e0;
}
.advantages-container .advantages__headline .description {
  color: #6c7f93;
  font-size: 24px;
}
.advantages-container .advantages__headline .divider {
  width: 80px;
  height: 5px;
  background-color: #2454e0;
  margin: 70px 0px 0px 0px;
}
.advantages-container .advantages-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.advantages-container .advantages-items .advantages__item {
  flex: 1 1 32%;
  background-color: #f4faff;
  padding: 30px;
  border-radius: 4px;
  text-align: left;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.advantages-container .advantages-items .advantages__item .advantages__item__icon {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.advantages-container .advantages-items .advantages__item .advantages__item__icon svg {
  width: 60px;
  height: 60px;
}
.advantages-container .advantages-items .advantages__item .advantages__item__headline {
  font-weight: 900;
  font-size: 26px;
  margin: 25px 0px 15px 0px;
}
.advantages-container .advantages-items .advantages__item .advantages__item__description {
  color: #6c7f93;
  font-size: 18px;
}
.advantages-container .advantages-items .advantages__item:hover {
  background-color: #2454e0;
  color: white;
}
.advantages-container .advantages-items .advantages__item:hover .advantages__item__description {
  color: white;
}
.advantages-container .advantages-items .advantages__item:hover .advantages__item__icon > svg * {
  fill: white;
}

@media (max-width: 1170px) {
  .advantages-container {
    padding: 50px 40px 0px 40px;
  }
  .advantages-container .advantages__headline {
    margin: 0px 0px 60px 0px;
  }
  .advantages-container .advantages__headline .headline {
    margin: 0px 0px 20px 0px;
  }
  .advantages-container .advantages__headline .description {
    font-size: 24px;
  }
  .advantages-container .advantages__headline .divider {
    margin: 50px 0px 0px 0px;
  }
  .advantages-container .advantages-items .advantages__item {
    flex: 1 1 30%;
    padding: 20px;
    border-radius: 4px;
  }
  .advantages-container .advantages-items .advantages__item .advantages__item__icon {
    width: 40px;
    height: 40px;
  }
  .advantages-container .advantages-items .advantages__item .advantages__item__icon svg {
    width: 40px;
    height: 40px;
  }
  .advantages-container .advantages-items .advantages__item .advantages__item__headline {
    font-size: 26px;
    margin: 15px 0px 10px 0px;
  }
  .advantages-container .advantages-items .advantages__item .advantages__item__description {
    color: #6c7f93;
    font-size: 18px;
  }
}
@media (max-width: 1024px) {
  .advantages-container {
    padding: 50px 40px 0px 40px;
  }
  .advantages-container .advantages__headline {
    margin: 0px 0px 60px 0px;
  }
  .advantages-container .advantages__headline .headline {
    margin: 0px 0px 20px 0px;
  }
  .advantages-container .advantages__headline .description {
    font-size: 20px;
  }
  .advantages-container .advantages__headline .divider {
    margin: 50px 0px 0px 0px;
  }
  .advantages-container .advantages-items .advantages__item {
    flex: 1 1 26%;
    padding: 20px;
    border-radius: 4px;
  }
  .advantages-container .advantages-items .advantages__item .advantages__item__icon {
    width: 40px;
    height: 40px;
  }
  .advantages-container .advantages-items .advantages__item .advantages__item__icon svg {
    width: 40px;
    height: 40px;
  }
  .advantages-container .advantages-items .advantages__item .advantages__item__headline {
    font-size: 22px;
    margin: 15px 0px 10px 0px;
  }
  .advantages-container .advantages-items .advantages__item .advantages__item__description {
    color: #6c7f93;
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .advantages-container {
    padding: 40px 15px 10px 15px;
  }
  .advantages-container .advantages__headline {
    margin: 0px 0px 50px 0px;
  }
  .advantages-container .advantages__headline .headline {
    margin: 0px 0px 20px 0px;
  }
  .advantages-container .advantages__headline .description {
    font-size: 18px;
  }
  .advantages-container .advantages__headline .divider {
    margin: 40px 0px 0px 0px;
  }
  .advantages-container .advantages-items .advantages__item {
    flex: 1 1 40%;
    padding: 20px;
    border-radius: 4px;
  }
  .advantages-container .advantages-items .advantages__item .advantages__item__icon {
    width: 40px;
    height: 40px;
  }
  .advantages-container .advantages-items .advantages__item .advantages__item__icon svg {
    width: 40px;
    height: 40px;
  }
  .advantages-container .advantages-items .advantages__item .advantages__item__headline {
    font-size: 22px;
    margin: 15px 0px 10px 0px;
  }
  .advantages-container .advantages-items .advantages__item .advantages__item__description {
    color: #6c7f93;
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  .advantages-container .advantages-items .advantages__item {
    flex: 1 1 100%;
  }
}

/*# sourceMappingURL=advantages.css.map */
