.footer-container {
  background-image: linear-gradient(to right, #011859 0%, rgba(1, 24, 89, 0.95) 100%), url("../img/footer-bg.jpg");
  background-size: cover;
  background-position: center;
  max-width: 100%;
  color: white;
  padding: 100px 40px 30px 40px;
}
.footer-container .footer {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px 40px;
}
.footer-container .footer .footer__anchor {
  position: absolute;
  background: none;
  width: 10px;
  height: 10px;
  top: -400px;
  left: 0;
}
.footer-container .footer .footer__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 100px 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;
}
.footer-container .footer .footer__content .footer__content__headline span {
  color: #286cf5;
}
.footer-container .footer .footer__content .footer__content__paragraph {
  margin: 30px 0px 70px 0px;
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
  max-width: 800px;
  letter-spacing: 2px;
}
.footer-container .footer .footer__additional-info {
  margin: 30px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.footer-container .footer .footer__additional-info .footer__additional-info__author {
  flex: 1 1 300px;
  opacity: 0.5;
}
.footer-container .footer .footer__additional-info .footer__additional-info__logo {
  opacity: 0.5;
}
.footer-container .footer .footer__additional-info .footer__additional-info__logo svg {
  width: auto;
  height: 32px;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: center;
  flex: 1 1 300px;
}
.footer-container .footer .footer__additional-info .footer__additional-info__social-icons {
  flex: 1 1 300px;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.footer-container .footer .footer__additional-info .footer__additional-info__social-icons .social-item a i {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0.5;
  font-size: 32px;
}

.social-item:hover a i {
  opacity: 1 !important;
}

@media (max-width: 1024px) {
  .footer-container {
    padding: 50px 0px 15px 0px;
  }
  .footer-container .footer {
    max-width: 1024px;
  }
  .footer-container .footer .footer__anchor {
    top: -400px;
  }
  .footer-container .footer .footer__content {
    padding: 0px 0px 60px 0px;
  }
  .footer-container .footer .footer__content .footer__content__paragraph {
    margin: 20px 0px 50px 0px;
    font-size: 20px;
    max-width: 600px;
  }
  .footer-container .footer .footer__additional-info {
    margin: 15px 0px 0px 0px;
  }
  .footer-container .footer .footer__additional-info .footer__additional-info__logo svg {
    width: auto;
    height: 28px;
    flex: 1 1 300px;
  }
  .footer-container .footer .footer__additional-info .footer__additional-info__social-icons {
    flex: 1 1 300px;
    gap: 30px;
  }
  .footer-container .footer .footer__additional-info .footer__additional-info__social-icons .social-item a i {
    font-size: 28px;
  }
}
@media (max-width: 768px) {
  .footer-container {
    padding: 40px 0px;
  }
  .footer-container .footer {
    max-width: 768px;
    padding: 0px 15px;
  }
  .footer-container .footer .footer__anchor {
    top: -400px;
  }
  .footer-container .footer .footer__content {
    padding: 0px 0px 50px 0px;
  }
  .footer-container .footer .footer__content .footer__content__paragraph {
    margin: 20px 0px 40px 0px;
    font-size: 18px;
    max-width: 400px;
  }
  .footer-container .footer .footer__additional-info {
    margin: 40px 0px 0px 0px;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
  .footer-container .footer .footer__additional-info .footer__additional-info__author {
    margin: 30px 0px 0px 0px;
    flex: 1 1 auto;
    order: 2;
  }
  .footer-container .footer .footer__additional-info .footer__additional-info__logo {
    order: 0;
  }
  .footer-container .footer .footer__additional-info .footer__additional-info__logo svg {
    width: auto;
    height: 40px;
    flex: 1 1 auto;
  }
  .footer-container .footer .footer__additional-info .footer__additional-info__social-icons {
    order: 1;
    flex: 1 1 auto;
    gap: 30px;
  }
  .footer-container .footer .footer__additional-info .footer__additional-info__social-icons .social-item a i {
    font-size: 28px;
  }
}

/*# sourceMappingURL=footer.css.map */
