.projects-container {
  background-image: linear-gradient(to right, rgba(1, 24, 89, 0.9) 0%, #011859 100%), url("../img/projects-bg.jpg");
  background-size: cover;
  background-position: center;
  max-width: 100%;
  padding: 0;
  margin: 0;
  color: white;
}
.projects-container .projects {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 80px;
}
.projects-container .projects .projects__description {
  flex: 1 1 400px;
  max-width: 500px;
}
.projects-container .projects .projects__description .projects__description__paragraph {
  color: white;
  font-size: 18px;
}
.projects-container .projects .projects__description .projects__description__paragraph i {
  font-size: 24px;
  margin: 0px 10px 0px 0px;
}
.projects-container .projects .projects__description .projects__description__headline {
  margin: 50px 0px 70px 0px;
}
.projects-container .projects .projects__description .projects__description__headline span {
  color: #286cf5;
}
.projects-container .projects .projects__img {
  background-image: url("../img/projects-img.jpg");
  width: 420px;
  background-size: cover;
  background-position: center;
  height: 760px;
  flex: 0 0 520px;
}

@media (max-width: 1170px) {
  .projects-container .projects {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0px 40px;
    gap: 70px;
    flex-wrap: nowrap;
  }
  .projects-container .projects .projects__description {
    flex: 1 1 400px;
    max-width: 400px;
  }
  .projects-container .projects .projects__description .projects__description__paragraph {
    color: white;
    font-size: 18px;
  }
  .projects-container .projects .projects__description .projects__description__paragraph i {
    font-size: 18px;
    margin: 0px 10px 0px 0px;
  }
  .projects-container .projects .projects__description .projects__description__headline {
    margin: 20px 0px 50px 0px;
  }
  .projects-container .projects .projects__img {
    width: 450px;
    height: 520px;
    flex: 0 0 450px;
  }
}
@media (max-width: 1024px) {
  .projects-container .projects {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0px 40px;
    gap: 70px;
    flex-wrap: nowrap;
  }
  .projects-container .projects .projects__description {
    flex: 1 1 400px;
    max-width: 400px;
    min-width: 250px;
  }
  .projects-container .projects .projects__description .projects__description__paragraph {
    color: white;
    font-size: 16px;
  }
  .projects-container .projects .projects__description .projects__description__paragraph i {
    font-size: 18px;
    margin: 0px 10px 0px 0px;
  }
  .projects-container .projects .projects__description .projects__description__headline {
    margin: 20px 0px 50px 0px;
  }
  .projects-container .projects .projects__img {
    width: 350px;
    height: 500px;
    flex: 1 1 425px;
  }
}
@media (max-width: 768px) {
  .projects-container .projects {
    max-width: 768px;
    margin: 0 auto;
    padding: 0px 0px 50px 0px;
    gap: 50px;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
  }
  .projects-container .projects .projects__description {
    padding: 0px 15px;
    flex: 1 1 auto;
    order: 1;
    max-width: 400px;
  }
  .projects-container .projects .projects__description .projects__description__paragraph {
    color: white;
    font-size: 16px;
  }
  .projects-container .projects .projects__description .projects__description__paragraph i {
    font-size: 18px;
    margin: 0px 10px 0px 0px;
  }
  .projects-container .projects .projects__description .projects__description__headline {
    margin: 20px 0px 45px 0px;
  }
  .projects-container .projects .projects__img {
    order: 0;
    width: auto;
    height: 240px;
    flex: 0 0 100%;
  }
}

/*# sourceMappingURL=projects.css.map */
