@import "tmp.scss";

.about-company-container {
  color: $basic-dark;
  .about-company {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 80px;
    position: relative;
    .about-company__image-1 {
      width: 600px;
      max-width: 600px;
      height: 400px;
      background-image: url("../img/about-company-img-1.jpg");

      background-size: cover;
      background-position: center;

      flex: 1 1 600px;
      border-radius: 4px;
    }
    .about-company__image-2 {
      width: 300px;
      height: 200px;
      background-image: url("../img/about-company-img-2.jpg");

      background-size: cover;
      background-position: center;
      position: absolute;
      top: 150px;
      left: 320px;
      flex: 1 1 600px;
      border-radius: 4px;
    }
    .about-company__image-1-mob {
      display: none;
      .about-company__image-2-mob {
        display: none;
      }
    }

    .about-company__description {
      flex: 1 1 400px;
      .about-company__description__headline {
        margin: 0px 0px 30px 0px;
        max-width: 400px;

        span {
          color: $basic-color;
        }
      }
      .about-company__description__paragraph {
        color: $paragraph;
        font-size: $paragraph-fs;
      }
    }
  }
}

@media (max-width: 1170px) {
  .about-company-container {
    .about-company {
      gap: 70px;
      position: relative;
      flex-wrap: nowrap;
      .about-company__image-1 {
        width: 500px;
        max-width: 500px;
        height: 380px;
        flex: 1 1 500px;
      }
      .about-company__image-2 {
        width: 260px;
        height: 190px;
        top: 160px;
        left: 260px;
        flex: 1 1 400px;
      }
      .about-company__image-1-mob {
        display: none;
        .about-company__image-2-mob {
          display: none;
        }
      }

      .about-company__description {
        flex: 1 1 400px;
        .about-company__description__headline {
          margin: 0px 0px 25px 0px;
          max-width: 300px;

          span {
          }
        }
        .about-company__description__paragraph {
          font-size: $paragraph-fs;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .about-company-container {
    .about-company {
      gap: 70px;
      position: relative;
      flex-wrap: nowrap;
      .about-company__image-1 {
        width: 400px;
        max-width: 400px;
        height: 280px;
        flex: 1 1 400px;
      }
      .about-company__image-2 {
        width: 200px;
        height: 160px;
        top: 100px;
        left: 220px;
        flex: 1 1 400px;
      }
      .about-company__image-1-mob {
        display: none;
        .about-company__image-2-mob {
          display: none;
        }
      }

      .about-company__description {
        flex: 1 1 400px;
        .about-company__description__headline {
          margin: 0px 0px 25px 0px;
          max-width: 300px;

          span {
          }
        }
        .about-company__description__paragraph {
          font-size: $paragraph-fs-media-1024;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .about-company-container {
    max-width: 768px;
    .about-company {
      gap: 40px;
      position: relative;
      justify-content: center;
      text-align: center;
      flex-wrap: wrap;
      .about-company__image-1 {
        display: none;
      }
      .about-company__image-2 {
        display: none;
      }
      .about-company__image-1-mob {
        display: flex;
        max-width: 100%;
        width: 100%;
        height: 260px;
        background-image: url("../img/about-company-img-1.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 4px;
        position: relative;
        .about-company__image-2-mob {
          display: block;
          width: 160px;
          height: 120px;
          background-image: url("../img/about-company-img-2.jpg");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          bottom: -20px;
          left: 20px;
          border-radius: 4px;
          position: absolute;
        }
      }

      .about-company__description {
        flex: 1 1 auto;
        .about-company__description__headline {
          margin: 0px 0px 25px 0px;
          max-width: 768px;

          span {
          }
        }
        .about-company__description__paragraph {
          font-size: $paragraph-fs-media-mob;
        }
      }
    }
  }
}
