@import "tmp.scss";

.advantages-container {
  color: $basic-dark;
  padding: 100px 40px 0px 40px;

  .advantages__headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 80px 0px;
    text-align: center;
    .headline {
      margin: 0px 0px 20px 0px;

      span {
        color: $basic-color;
      }
    }
    .description {
      color: $paragraph;
      font-size: $biggest-paragraph-fs;
    }
    .divider {
      width: 80px;
      height: 5px;
      background-color: $basic-color;
      margin: 70px 0px 0px 0px;
    }
  }
  .advantages-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    .advantages__item {
      flex: 1 1 32%;
      background-color: $basic-light;
      padding: 30px;
      border-radius: 4px;
      text-align: left;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;

      .advantages__item__icon {
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          width: 60px;
          height: 60px;
        }
      }
      .advantages__item__headline {
        font-weight: 900;
        font-size: $headline-fs;
        margin: 25px 0px 15px 0px;
      }
      .advantages__item__description {
        color: $paragraph;
        font-size: $paragraph-fs;
      }

      &:hover {
        background-color: $basic-color;
        color: white;

        .advantages__item__description {
          color: white;
        }
      }
    }
    .advantages__item:hover .advantages__item__icon > svg * {
      fill: white;
    }
  }
}

@media (max-width: 1170px) {
  .advantages-container {
    padding: 50px 40px 0px 40px;

    .advantages__headline {
      margin: 0px 0px 60px 0px;
      .headline {
        margin: 0px 0px 20px 0px;

        span {
        }
      }
      .description {
        font-size: $biggest-paragraph-fs;
      }
      .divider {
        margin: 50px 0px 0px 0px;
      }
    }
    .advantages-items {
      .advantages__item {
        flex: 1 1 30%;
        padding: 20px;
        border-radius: 4px;

        .advantages__item__icon {
          width: 40px;
          height: 40px;

          svg {
            width: 40px;
            height: 40px;
          }
        }
        .advantages__item__headline {
          font-size: $headline-fs;
          margin: 15px 0px 10px 0px;
        }
        .advantages__item__description {
          color: $paragraph;
          font-size: $paragraph-fs;
        }

        &:hover {
          .advantages__item__description {
          }
        }
      }
      .advantages__item:hover .advantages__item__icon > svg * {
      }
    }
  }
}

@media (max-width: 1024px) {
  .advantages-container {
    padding: 50px 40px 0px 40px;

    .advantages__headline {
      margin: 0px 0px 60px 0px;
      .headline {
        margin: 0px 0px 20px 0px;

        span {
        }
      }
      .description {
        font-size: $biggest-paragraph-fs-media-1024;
      }
      .divider {
        margin: 50px 0px 0px 0px;
      }
    }
    .advantages-items {
      .advantages__item {
        flex: 1 1 26%;
        padding: 20px;
        border-radius: 4px;

        .advantages__item__icon {
          width: 40px;
          height: 40px;

          svg {
            width: 40px;
            height: 40px;
          }
        }
        .advantages__item__headline {
          font-size: $headline-fs-media-1024;
          margin: 15px 0px 10px 0px;
        }
        .advantages__item__description {
          color: $paragraph;
          font-size: $paragraph-fs-media-1024;
        }

        &:hover {
          .advantages__item__description {
          }
        }
      }
      .advantages__item:hover .advantages__item__icon > svg * {
      }
    }
  }
}

@media (max-width: 768px) {
  .advantages-container {
    padding: 40px 15px 10px 15px;

    .advantages__headline {
      margin: 0px 0px 50px 0px;
      .headline {
        margin: 0px 0px 20px 0px;

        span {
        }
      }
      .description {
        font-size: $biggest-paragraph-fs-media-mob;
      }
      .divider {
        margin: 40px 0px 0px 0px;
      }
    }
    .advantages-items {
      .advantages__item {
        flex: 1 1 40%;
        padding: 20px;
        border-radius: 4px;

        .advantages__item__icon {
          width: 40px;
          height: 40px;

          svg {
            width: 40px;
            height: 40px;
          }
        }
        .advantages__item__headline {
          font-size: $headline-fs-media-mob;
          margin: 15px 0px 10px 0px;
        }
        .advantages__item__description {
          color: $paragraph;
          font-size: $paragraph-fs-media-mob;
        }

        &:hover {
          .advantages__item__description {
          }
        }
      }
      .advantages__item:hover .advantages__item__icon > svg * {
      }
    }
  }
}

@media (max-width: 480px) {
  .advantages-container {
    .advantages__headline {
      .headline {
        span {
        }
      }
      .description {
      }
      .divider {
      }
    }
    .advantages-items {
      .advantages__item {
        flex: 1 1 100%;

        .advantages__item__icon {
          svg {
          }
        }
        .advantages__item__headline {
        }
        .advantages__item__description {
        }

        &:hover {
          .advantages__item__description {
          }
        }
      }
      .advantages__item:hover .advantages__item__icon > svg * {
      }
    }
  }
}
