@import "tmp.scss";

.darkHeader {
  background-color: rgba(8, 20, 33, 0.95);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.active-tab {
  opacity: 1 !important;

  &:after {
    opacity: 1 !important;
    display: block;
    content: "";
    height: 5px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $basic-color;
  }
}

.header-container {
  max-width: 100%;
  padding: 0;
  margin: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $basic-dark;
    z-index: 3;
  }
  .header {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0px 40px;

    .header__content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 80px;
      position: relative;

      .header__content__logo {
        svg {
          width: auto;
          height: 32px;
          cursor: pointer;
        }
      }

      .header__content__burger {
        // display: none;
      }

      .header__content__navigation {
        position: absolute;
        right: 0;
        z-index: 3;

        ul {
          display: flex;
          gap: 60px;

          li {
            height: 80px;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            display: flex;
            align-items: center;
            opacity: 0.5;
            position: relative;
            cursor: pointer;

            .navigation__item {
              color: white;
              font-size: $button-fs;
              font-weight: 700;
              letter-spacing: 1px;
            }

            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .header-container {
    max-width: 768px;
    .header {
      padding: 0px 15px !important;
      max-width: 768px;

      .header__content {
        height: 60px !important;
        margin: 0px;
        margin: 0px !important;

        .header__content__logo {
          svg {
            width: 180px;
            height: auto;
          }
        }

        .header__content__burger {
          display: block;
          position: relative;
          width: 40px;
          height: 30px;
          z-index: 3;

          span {
            position: absolute;
            background-color: white;
            left: 0;
            width: 100%;
            height: 3px;
            top: 14px;
            transition: all 0.3s ease;
          }

          &:before,
          &:after {
            content: "";
            background-color: white;
            position: absolute;
            width: 100%;
            height: 3px;
            left: 0;
            transition: all 0.3s ease;
          }

          &:before {
            top: 0;
          }

          &:after {
            bottom: 0;
          }
        }

        .header__content__burger.active-burger {
          position: fixed;
          top: 16px;
          right: 10px;
          z-index: 50;
        }

        .header__content__burger.active-burger span {
          transform: scale(0);
        }
        .header__content__burger.active-burger:before {
          transform: rotate(45deg);
          top: 14px;
        }
        .header__content__burger.active-burger:after {
          transform: rotate(-45deg);
          bottom: 14px;
        }

        .header__content__navigation {
          position: fixed;
          top: -100%;
          left: 0;
          width: 80%;
          height: 100%;
          background-color: $basic-dark;

          ul {
            padding: 20px 20px 20px 20px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 0px;

            li {
              height: 60px;

              .navigation__item {
                align-items: center;
              }
              &:hover {
              }
            }
          }
        }

        .header__content__navigation.active-burger {
          top: 0;
        }
      }
    }
  }
}
