@import "tmp.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Lato", sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.wrapper {
  width: 100%;
}

.wrapper__container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 100px 40px;
}

.headline {
  font-size: $biggest-headline-fs;
  line-height: $biggest-headline-lh;
  font-weight: 900;
}

@media (max-width: 1024px) {
  .wrapper {
  }

  .wrapper__container {
    max-width: 1024px;
    padding: 60px 40px;
  }

  .headline {
    font-size: $biggest-headline-fs-media-1024;
    line-height: $biggest-headline-lh-media-1024;
  }
}

@import "menu.scss";
@import "hero.scss";
@import "advantages.scss";
@import "about-company.scss";
@import "projects.scss";
@import "gallery.scss";
@import "contacts.scss";
@import "footer.scss";

@import "elements.scss";
@import "map.scss";
