$basic-gradient: linear-gradient(to left, #3525d3, #01b2f9);
$basic-color: #2454e0;
$basic-dark: #081421;
$paragraph: #6c7f93;
$basic-light: #f4faff;
$accent-on-dark: #286cf5;

$button-fs: 16px;
$paragraph-fs: 18px;
$headline-fs: 26px;
$biggest-headline-fs: 48px;
$biggest-paragraph-fs: 24px;
$biggest-headline-lh: 56px;

$button-fs-media-1024: 14px;
$paragraph-fs-media-1024: 16px;
$headline-fs-media-1024: 22px;
$biggest-headline-fs-media-1024: 36px;
$biggest-paragraph-fs-media-1024: 20px;
$biggest-headline-lh-media-1024: 44px;

$button-fs-media-mob: 14px;
$paragraph-fs-media-mob: 16px;
$headline-fs-media-mob: 22px;
$biggest-headline-fs-media-mob: 28px;
$biggest-paragraph-fs-media-mob: 18px;
$biggest-headline-lh-media-mob: 32px;
